Hello World

In [1]:
print("Hello World")

Hello World

Data Type

In [2]:
#int type
x = 50
print(x)
print(type(x))

50
<class 'int'>

In [3]:
#float type
x = 34.5
print(x)
print(type(x))

34.5
<class 'float'>

In [4]:
#boo type
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [5]:
#str type
x = "Hello World"
print(x)
print(type(x))

Hello World
<class 'str'>

Operators

In [6]:
x = 15
y = 2
z1 = x + y
z2 = x - y
z3 = x * y
z4 = x / y

In [10]:
print(z1)
print(z2)
print(z3)
print(z4)

17
13
30
7.5

In [8]:
z5 = x // y # Floor Division
z6 = x % y # Modulus
z7 = x ** y # Exponentation

In [9]:
print(z5)
print(z6)
print(z7)

7
1
225

Variables

In [11]:
a = 10
b = 20
print(a)
print(b)

10
20

Variables - Case sensitive

In [13]:
age = 27
Age = 56
AGE = 34
AGe = 23
print(age)
print(Age)
print(AGE)
print(AGe)

27
56
34
23

MinMax Calculations

In [14]:
#Get user inputs
x = int(input("Enter value 1 "))
y = int(input("Enter value 2 "))
z = int(input("Enter value 3 "))

Enter value 1 12
Enter value 2 24
Enter value 3 36

In [15]:
minimum = min(x,y,z)
maximum = max(x,y,z)

In [16]:
print ("Minimum value is ", minimum)
print ("Maximum value is ", maximum)

Minimum value is  12
Maximum value is  36

Sequence

In [18]:
sum = 0
Number1 = int(input("Enter Number1 "))
Number2 = int(input("Enter Number2 "))

sum = Number1 + Number2

print ("Sum is ", sum)

Enter Number1 155
Enter Number2 200
Sum is  355

Area finding

In [19]:
length = int(input("Enter Length "))
width = int(input("Enter Width "))

area = length * width
perimeter = (2*length) + (2*width)

print ("Area is ", area)
print ("Perimeter is ", perimeter)

Enter Length 24
Enter Width 38
Area is  912
Perimeter is  124

Selection

In [20]:
length = int(input("Enter Length "))
width = int(input("Enter Width "))

if length == width:
	 print ("Figure is a square")

Enter Length 28
Enter Width 28
Figure is a square

In [22]:
length = int(input("Enter Length "))
width = int(input("Enter Width "))

if length == width:
	 print ("Figure is a square")
else:
	 print ("Figure is a rectangle")

Enter Length 28
Enter Width 20
Figure is a rectangle

In [24]:
DOB = int(input("Enter year of birth "))

age = 2025 - DOB

if age >= 18:
	 print ("You are an adult..")
else:
	 print ("You are a child..")

Enter year of birth 2001
You are an adult..

Repetition

In [25]:
number = 1

while number <= 100:
	print (number)
	number = number + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [28]:
iteration = 1
total = 0

while iteration <= 10:
	number = int(input("Enter number " ))
	total = total + number
	iteration = iteration + 1

print ("Sum is ", total)

Enter number 1
Enter number 2
Enter number 3
Enter number 4
Enter number 6
Enter number 7
Enter number 8
Enter number 9
Enter number 3
Enter number 5
Sum is  48

#b) Create a python program to input marks of 10 students and print the maximum mark, minimum mark and average mark of the students.

In [29]:
marks = []
total_marks = 0

for i in range(10):
    mark = int(input(f"Enter mark for student {i+1}: "))
    marks.append(mark)
    total_marks += mark

minimum_mark = min(marks)
maximum_mark = max(marks)
average_mark = total_marks / len(marks)

print("Maximum mark:", maximum_mark)
print("Minimum mark:", minimum_mark)
print("Average mark:", average_mark)

Enter mark for student 1: 80
Enter mark for student 2: 87
Enter mark for student 3: 79
Enter mark for student 4: 77
Enter mark for student 5: 67
Enter mark for student 6: 76
Enter mark for student 7: 86
Enter mark for student 8: 85
Enter mark for student 9: 75
Enter mark for student 10: 70
Maximum mark: 87
Minimum mark: 67
Average mark: 78.2

#c) Create a program to input five marks of a student and display the grades.

• Mark > 75 – A

• Mark 65 to 75 – B

• Mark 55 to 64 – C

• Mark 45 to 54 – S

• Mark < 45 – F

In [31]:
marks = []

for i in range(5):
    mark = int(input(f"Enter mark {i+1}: "))
    marks.append(mark)

print("\nGrades:")
for mark in marks:
    if mark > 75:
        grade = "A"
    elif 65 <= mark <= 75:
        grade = "B"
    elif 55 <= mark <= 64:
        grade = "C"
    elif 45 <= mark <= 54:
        grade = "S"
    else:
        grade = "F"
    print(f"Mark: {mark}, Grade: {grade}")

Enter mark 1: 55
Enter mark 2: 66
Enter mark 3: 60
Enter mark 4: 80
Enter mark 5: 76

Grades:
Mark: 55, Grade: C
Mark: 66, Grade: B
Mark: 60, Grade: C
Mark: 80, Grade: A
Mark: 76, Grade: A

#d)  Write a program to input a series of numbers terminated by -999. Calculate and print the sum of the numbers entered.

In [32]:
total = 0  # to store the sum

print("Enter numbers (enter -999 to stop):")

while True:
    num = int(input("Enter a number: "))

    if num == -999:   # termination condition
        break

    total += num      # add to sum

print("\nThe sum of the numbers entered is:", total)

Enter numbers (enter -999 to stop):
Enter a number: 66
Enter a number: -999

The sum of the numbers entered is: 66