In [8]:
no1 = int(input("Enter first number "))

Enter first number 10

In [2]:
no2 = int(input("Enter second number "))

Enter second number 2

In [3]:
# Commment so 78 is an integer
sum = no1 + no2
print("Sum is ", sum)

Sum is  12

In [4]:
diff = no1 - no2
print("Difference is ", diff)

Difference is  8

In [5]:
divide = no1 / no2
print("Division is ", divide)

Division is  5.0

In [6]:
multiply = no1 * no2
print("Multiplication is ", multiply)

Multiplication is  20

In [7]:
miles = int(input("Enter miles "))
km = miles * 1.60934
print("Kilometers is ", km)

Enter miles 10
Kilometers is  16.0934